@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import '../utils/variables.scss';
.App {
    text-align: center;
    letter-spacing: 4px;
    font-family: 'Pokemon Solid', sans-serif;
    background-color: $bluegreen;
    min-height: 100vh
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}