@import '../utils/variables.scss';

.card{
    color: #fff;
    background-color: $red;
    margin: 40px auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color:$bluegreen;
    min-width: 200px;
}