@import '../utils/variables.scss';

main{
    min-height: 80vh;
}

.formContainer{
    display:flex;
    justify-content: center;    
    margin-top:150px;
    margin-bottom:130px;
}

.form{
    color:$yellow;
    font-size:20px;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    width: 300px;
    padding: 30px;
    background-color: $red;
    border-radius:15px;
    border-style:solid;
    border-width:3px;
    border-color: $yellow;
}

.form input, select{
    height: 30px
}

#submit{
    cursor: pointer;
    background-color: $bluegreen;
    margin: 40px 70px;
    height: 30px
}

.form p{
    font-family: 'Courier New', Courier, monospace;

}