@import '../utils/variables.scss';

.home {
    background-color: $bluegreen;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color:$yellow;
    border-width: 3px;
    background-color: $red;
    text-align: center;
    border-style: solid;
    padding: 5px;
    margin: 20px;
    min-width: 175px;
    min-height: 80px;
    height: 250px;
    transition: 0.2s;
    filter: brightness(85%);

}

.cardContainer:hover{
    box-shadow: rgb(0, 255, 247) 0px 5px 15px;
    filter: brightness(100%);
    transform: scale(1.01);
}

.cardImg{
    width: 175px;
}

h3{
    font-size: 20px;
    color: $red;
    margin-top:-180px;
    position: relative;
}

#h1 {

    -webkit-text-stroke: 0.2px black; /* width and color */
    font-size:25px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: $yellow;
    letter-spacing: 7px;
}


h3 {
    cursor: pointer;
}

.pokemonName {
    text-decoration: none;
    color: black
}

#spinnerHome{
    margin-top: 200px;
    animation: rotation 1s infinite linear;
    width: 300px;
}

#spinnerContainer{
    animation: 0.9s linear infinite slidein;    
}

@keyframes slidein {
    from {
      margin-left: 500%;
      width: 100%;
    }
  
    to {
      margin-left: -750%;
      width: 100%;
    }
  }

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }