.nav{

    padding: 15px;
    display: flex;
    justify-content:space-evenly;
    background-color: $blue;
    align-items:center;
}

.nav-link{
    font-size:20px;
    text-decoration: none;
    color: #fff;  
    transition: 0.1s ;
    margin: 20px 0 20px 20px;
    text-align: center;
}

.nav-link:hover{
    color:$yellow;
}

@media screen and (max-width: 768px){
.nav{
    flex-wrap: wrap;
}
}


